<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>AntHill</name>

  <description>
      An Ant's Tryst with Destiny.
  </description>

  <author href="https://github.com/Anuraj-R/anthill" email="anurajr@gmail.com">
      Anuraj R
  </author>
  
  <icon src="common/images/anthill.png" platform="android" />

</widget>
